# Database
DATABASE_URI=postgres://postgres:postgres@localhost:5432/medusa
DATABASE_SCHEMA=payload_cms

# Payload
PAYLOAD_SECRET=your-payload-secret-here
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Optional: Uncomment if you want to use the same Redis instance as Medusa
# REDIS_URI=redis://localhost:6379
